extends layout

block content
  h1= title
  if post_list.length
    ul
      each post in post_list
        li
          h2
            a(href=`/catalog/post/${post._id}`)= post.title
          p
            strong Description:
            |  #{post.description}
          p
            strong Instructions:
            |  #{post.instructions}
          p
            strong Ingredients:
            ul
              each ingredient in post.ingredients
                li= ingredient
  else
    p There are no posts.
